<h2 class="text-center">Registra un libro</h2>
<hr>
<form [formGroup]="crearLibroForm" (ngSubmit)="save()">

  <div class="form-group">
    <label>Serial</label>
    <input type="number" class="form-control" formControlName="serial" [class.is-invalid]="invalidControl('serial')">
    <small class="text-danger" *ngIf="invalidControl('serial')">Añade el serial del libro</small>
  </div>

  <div class="form-group">
    <label>Título</label>
    <input type="text" class="form-control" formControlName="titulo" [class.is-invalid]="invalidControl('titulo')">
    <small class="text-danger" *ngIf="invalidControl('titulo')">Añade el título del libro</small>
  </div>

  <div class="form-group">
    <label>Categoria</label>
    <input type="text" class="form-control" formControlName="categoria" [class.is-invalid]="invalidControl('categoria')">
    <small class="text-danger" *ngIf="invalidControl('categoria')">Añade la categoria del libro</small>
  </div>

  <div class="form-group">
    <label>Número de páginas</label>
    <input type="number" class="form-control" formControlName="num_paginas" [class.is-invalid]="invalidControl('num_paginas')">
    <small class="text-danger" *ngIf="invalidControl('num_paginas')">Añade el número de páginas del libro</small>
  </div>

  <div class="form-group">
    <label>ISBN</label>
    <input type="text" class="form-control" formControlName="isbn" [class.is-invalid]="invalidControl('isbn')">
    <small class="text-danger" *ngIf="invalidControl('isbn')">Añade el ISBN</small>
  </div>

  <div class="form-group">
    <label>Autor</label>
    <input type="text" class="form-control" formControlName="autor" [class.is-invalid]="invalidControl('autor')">
    <small class="text-danger" *ngIf="invalidControl('autor')">Añade el autor del libro</small>
  </div>

  <div class="form-group">
    <label>Editorial</label>
    <input type="text" class="form-control" formControlName="editorial" [class.is-invalid]="invalidControl('editorial')">
    <small class="text-danger" *ngIf="invalidControl('editorial')">Añade la editorial del libro</small>
  </div>
  
  <button type="submit"  class="btn btn-success" [disabled]="!crearLibroForm.valid">
    Guardar
  </button>
</form>