

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Prueba Ciclo 4 Web</h1>
    <p class="lead">Autor: Carlos Santiago Benitez</p>
  </div>
</div>
<hr>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Serial</th>
      <th scope="col">Título</th>
      <th scope="col">Categoria</th>
      <th scope="col">Número de Pág.</th>
      <th scope="col">ISBN</th>
      <th scope="col">Autor</th>
      <th scope="col">Editorial</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let libro of libros; let i = index">
      <th scope="row">{{libro.serial}}</th>
      <td>{{libro.titulo}}</td>
      <td>{{libro.categoria}}</td>
      <td>{{libro.num_paginas}}</td>
      <td>{{libro.isbn}}</td>
      <td>{{libro.autor}}</td>
      <td>{{libro.editorial}}</td>
      <td><div class="btn-group" role="group">
        <button type="button" class="btn btn-info" [routerLink]="['/libro', libro.serial]"><i class="far fa-edit"></i></button>
        <button type="button" class="btn btn-danger" (click)="delete(libro, i)"><i class="fas fa-trash-alt"></i></button>
      </div></td>
    </tr>
  </tbody>
</table>