<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navb" aria-controls="navb" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-md-center" id="navb">
    <ul class="navbar-nav">
      <li class="nav-item mx-2">
        <a class="nav-link" [routerLink]="['/libros']" [routerLinkActive]="['active']" >Lista de libros</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" [routerLink]="['/libro/new']" [routerLinkActive]="['active']" >Agregar libro</a>
      </li>
    </ul>
  </div>
</nav>